<div class="panel-custom">
  <section class="panel panel-default">
    <header class="panel-heading">
     <h5 class="panel-title">Lekcje Podstawowe</h5>
    </header>
     <ul class="lessons">
      <% @lesson.each do |l| %>
        <% if l.level == 1 %>
          <li><%= link_to l.name.to_s, lesson_path(l.id) %></li><hr class="lessons-panel">
        <% end %>
      <% end %>
    </ul>
    <header class="panel-heading">
     <h5 class="panel-title">Slowka</h5>
    </header>
     <ul class="lessons">
      <% @lesson.each do |l| %>
        <% if l.level == 2 %>
          <li><%= link_to l.name.to_s, lesson_path(l.id) %></li><hr class="lessons-panel">
        <% end %>
      <% end %>
    </ul>
    <header class="panel-heading">
     <h5 class="panel-title">Czasy</h5>
    </header>
     <ul class="lessons">
      <% @lesson.each do |l| %>
        <% if l.level == 3 %>
          <li><%= link_to l.name.to_s, lesson_path(l.id) %></li><hr class="lessons-panel">
        <% end %>
      <% end %>
    </ul>
    <header class="panel-heading">
     <h5 class="panel-title">Dialgi</h5>
    </header>
     <ul class="lessons">
      <% @lesson.each do |l| %>
        <% if l.level == 4 %>
          <li><%= link_to l.name.to_s, lesson_path(l.id) %></li><hr class="lessons-panel">
        <% end %>
      <% end %>
    </ul>
  </section>
</div>
<div class="section-main">
    <h3>Bezpłatny kurs języka angielskiego online</h3>
    <%= image_tag "City_of_London_banner", class: "london-banner" %>
    <p align="left">We współczesnym świecie znajomość języków obcych stała się koniecznością. Niemożliwy jest rozwój osobisty, awans zawodowy, nawiązywanie nowych kontaktów bez umiejętności posługiwania się językiem angielskim. Dlatego postanowiłam stworzyć ten kurs. Bezpłatny kurs języka angielskiego online przeznaczony jest zarówno dla osób dopiero rozpoczynających swoją przygodę z angielskim jak i dla tych, które już mają na tym polu jakieś osiągnięcia. W tworzeniu lekcji kieruję się swoim dwudziestoletnim doświadczeniem pedagogicznym opartym na kształceniu osób w różnym wieku, od małych dzieci do osób dorosłych. Mam nadzieję, że moja praca pozwoli na rozwinięcie u innych zamiłowania do nauki oraz przyda im się w życiu codziennym.</p>
</div>
