<%= render 'admin/tabs' %>
<div class="section-main">
  <p id="notice"><%= notice %></p>

  <h1>Wszyscy Uzytkownicy</h1><br>

  <table class="section-main">
    <thead>
      <tr>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><b><%= user.login %></b></td>
          <td><%= link_to "Show", user %></td>
          <td><%= link_to 'Edit', edit_user_path(user) %></td>
          <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br><br><br>
  <p><%= link_to 'Nowy uzytkownik', new_user_path %></p>
</div>
