<%= form_for lesson do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :level %>
    <%= f.text_field :level %>
  </div>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content, size: "30x10" %>
  </div>

  <div class="field">
    <%= f.label :image %>
    <%= f.text_field :image %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
  <div class="add-expression-container">
    <% lesson.expression.each do |ex| %>
      <%= form_for ex do |e| %>
        <div class="field">
          <%= e.label :title %>
          <%= e.text_field :title %>
        </div>

        <div class="field">
          <%= e.label :english_sentence %>
          <%= e.text_area :english_sntnc, size: "30x10" %>
        </div>

        <div class="field">
          <%= e.label :polish_sentence %>
          <%= e.text_area :polish_sntnc, size: "30x10" %>
        </div>

        <div class="field">
          <%= e.label :image %>
          <%= e.text_field :image %>
        </div>

        <div class="actions">
          <%= e.submit %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
