<%= form_for lesson do |f| %>
  <div class="field">
    <%= f.label :nazwa %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :poziom %>
    <%= f.text_field :level %>
  </div>

  <div class="field">
    <%= f.label :krotki_opis %>
    <%= f.text_area :content, size: "30x10" %>
  </div>

  <div class="field">
    <%= f.label :obraz_url %>
    <%= f.text_field :image %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
  <div class="add-expression-container">
    <% lesson.expression.each do |ex| %>
      <%= form_for ex do |e| %>
        <div class="field">
          <%= e.label :tytul %>
          <%= e.text_field :title %>
        </div>

        <div class="field">
          <%= e.label :zdanie_po_angielsku %>
          <%= e.text_area :english_sntnc, size: "30x10" %>
        </div>

        <div class="field">
          <%= e.label :zdanie_po_polsku %>
          <%= e.text_area :polish_sntnc, size: "30x10" %>
        </div>
        
        <div class="field">
          <%= e.label :obraz_url, "Wrzuc plik glosowy po angielsku" %>
          <%= e.file_field :audio_en %>
        </div>

        <div class="field">
          <%= e.label :obraz_url %>
          <%= e.text_field :image %>
        </div>

        <div class="actions">
          <%= e.submit %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
