<ul class="nav nav-stacked col-sm-2 ul-admin-panel">
  <li class="<%= active?('admin' => 'index') %> btn-admin-panel"><%= link_to "Panel administracyjny", admin_path %></li>
  <li class="<%= active?('lessons' => 'new') %> btn-admin-panel"><%= link_to "Dodaj lekcje", new_lesson_path %></li>
  <li class="<%= active?('lessons' => 'index') %> btn-admin-panel"><%= link_to "Pokaz lekcje", lessons_path %></li>
  <li class="<%= active?('lessons' => 'edit') %> btn-admin-panel"><%= link_to "Edytuj lekcje", '#' %></li>
  <li class="<%= active?('users' => 'index') %> btn-admin-panel"><%= link_to "Pokaz uzytknownikow", users_path %></li>
</ul>