<p id="notice"><%= notice %></p>

<h1>Lessons</h1>

<table>
  <thead>
    <tr>
      <th>Nazwa</th>
      <th>&nbsp;Poziom</th>
      <th>&nbsp;Krotki Opis</th>
      <th>&nbsp;Zdjecie URL</th>
      <th>&nbsp;Kategoria</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lessons.each do |lesson| %>
      <tr>
        <td><%= lesson.name %></td>
        <td><%= lesson.level %></td>
        <td><%= lesson.content %></td>
        <td><%= lesson.image %></td>
        <% case lesson.level %>
          <% when 1 %>
            <td>Lekce podstawowe</td>
          <% when 2 %>
            <td>Slowka</td>
          <% when 3 %>
            <td>Dialogi</td>
        <% end %>
        <td><%= link_to 'Pokaz', lesson %></td>
        <td><%= link_to 'Edytuj', edit_lesson_path(lesson) %></td>
        <td><%= link_to 'Usun', lesson, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nowa lekcja', new_lesson_path %>
