<p id="notice"><%= notice %></p>

<p>
  <strong><%= @lesson.name %></strong> (<%= @lesson.content %>
)
  <br>Level: <%= @lesson.level %>
</p>

<p>
  <% @lesson.expression.each do |e| %>
    <%= e.english_sntnc %><br>
    <%= e.polish_sntnc %><br><br>
  <% end %>
</p>

<% if current_user && current_user.user_group == 0 %>
  <%= link_to 'Edit', edit_lesson_path(@lesson) %> |
  <%= link_to 'Back', lessons_path %>
<% end %>
