<p id="notice"><%= notice %></p>

<p align="center">
  <strong><%= @lesson.name %></strong><%= '(' + @lesson.content + ')' unless @lesson.content.empty? %>
  <br>Level: <%= @lesson.level %>
</p>

<p>
  <% @lesson.expression.each do |e| %>
    <%= e.english_sntnc.html_safe %><br>
    <audio src="<%= audio_path 'jean.mp3'%>" type="audio/mpeg" controls>
      Your browser does not support the audio element.
    </audio><br><br>
    <%= e.polish_sntnc.html_safe %><br><br>
  <% end %>
</p>

<% if current_user && current_user.user_group == 0 %>
  <%= link_to 'Edytuj', edit_lesson_path(@lesson) %> |
  <%= link_to 'Wroc', lessons_path %>
<% end %>
